.button {
    display: inline-block;
    line-height: 1.25;
    text-align: center;
    padding: 8px;
    background: #FFFFFF;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #bfbfbf;
}

.button:disabled {
    color: #bfbfbf;
    cursor: not-allowed;
}
