#loader {
    background-image: url("/assets/grifix/kit/loader.gif");
    background-repeat: repeat-x;
    width: 100%;
    height: 4px;
    position: fixed;
    top: 0;
    display: none;
}

.locker {
    cursor: wait;
}