.messenger-message{
    border-radius: 5px;
    padding: 4px 18px 4px 8px;
    font-size: 12px;
    width: auto;
    display: inline-block;
    min-width: 100px;
}

.messenger-info{
    background-color: rgb(217, 237, 247);
    color: rgb(49, 112, 143);
}

.messenger-error{
    background-color: rgb(242, 222, 222);
    color: rgb(169, 68, 66)
}

.messenger-warning{
    background-color: rgb(252, 248, 227);
    color: rgb(138, 109, 59);
}

.messenger-success{
    background-color: rgb(223, 240, 216);
    color: rgb(60, 118, 61);
}