.padding {
    padding: 15px;
}

.padding-top {
    padding-top: 15px;
}

.padding-bottom {
    padding-bottom: 15px;
}

.padding-left {
    padding-left: 15px;
}

.padding-right {
    padding-right: 15px;
}