* {
    margin: 0;
    padding: 0;
    outline: 0;
}

:focus {
    outline: 0;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

pre{
    overflow: auto;
}