.tooltip{
    background: black;
    color: white;
    border-radius: 5px;
    padding: 4px;
    font-size: 12px;
    width: auto;
    display: inline-block;
    min-width: 100px;
}

.tooltip-arrow-bottom:after{
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip-arrow-top:after{
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip-arrow-left:after{
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

.tooltip-arrow-right:after{
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%; /* To the right of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}

.tooltip-error{
    background: rgb(248, 215, 218);
    color: rgb(114, 28, 36);
    border-radius: 5px;
    padding: 4px;
    font-size: 12px;
    width: auto;
    display: inline-block;
    min-width: 100px;
}

.tooltip-error-arrow-bottom:after{
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(248, 215, 218) transparent transparent transparent;
}

.tooltip-error-arrow-top:after{
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgb(248, 215, 218) transparent;
}

.tooltip-error-arrow-left:after{
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgb(248, 215, 218) transparent transparent;
}

.tooltip-error-arrow-right:after{
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%; /* To the right of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent rgb(248, 215, 218);
}

